:root {
  --primary-color: #fece47;
}

body {
  font-family: "Roboto", sans-serif;
}

/* NAVBAR */

.bg-style {
  border-bottom: 1px solid #d8d8d8;
}

.navbar-toggler {
  background-color: var(--primary-color);
  border-radius: 2px;
  border: none;
  width: 50px;
  height: 40px;
}

.navbar-toggler-icon {
  width: 24px;
}

.nav-link {
  font-size: 16px;
}

.logo-img {
  padding-left: 15px;
}

/* HERO */

.hero-section {
  padding: 100px 10px;
  background-color: white;
}

h1,
h2 {
  font-family: "Heebo", sans-serif;
}

h1 {
  color: var(--primary-color);
  line-height: 90px;
  font-size: 90px;
  padding: 10px 0;
}

h3 {
  line-height: 50px;
  font-size: 28px;
  padding: 10px 0 0 0;
  border-bottom: 3px solid black;
}

h4 {
  opacity: 70%;
  line-height: 50px;
  font-weight: 300;
  font-size: 26px;
}

.hero-headings {
  padding-right: 0;
}

.hero-img {
  border: 3px solid black;
}

.img-container {
  padding-left: 0;
}

/* ABOUT */

h2 {
  font-size: 36px;
}
.h2-about {
  padding-bottom: 10px;
}

h2 span {
  border-bottom: 4px solid var(--primary-color);
}

.about-section {
  background-color: #f7f8fc;
}

.about-container {
  margin-top: 40px;
}

.about-col-1,
.about-col-2 {
  padding-top: 60px;
  padding-bottom: 60px;
}

p {
  padding: 5px 0;
}

.first-paragraph {
  padding-top: 84px;
}

.about-me-img {
  width: 70%;
  padding-top: 30px;
  padding-bottom: 20px;
}

/* SKILLS */
h4 {
  font-weight: 600;
  color: #000000;
  font-size: 32px;
  opacity: 80%;
}

.title-pgf {
  font-weight: 500;
  font-size: 18px;
  padding: 8px 0;
}

.skills-active:hover {
  background-color: var(--primary-color);
  transition: all ease-in-out 0.5s;
  border: var(--primary-color);
  cursor: d;
}

/*LARGE DEVICES*/

@media (max-width: 991px) {
  /*HERO*/

  h1 {
    font-size: 64px;
    padding: 0;
  }

  h3 {
    font-size: 22px;
    padding: 0;
    line-height: 30px;
  }

  h4 {
    font-size: 18px;
    line-height: 30px;
  }
}

/*MEDIUM DEVICES*/

@media (max-width: 767px) {
  .small-flex {
    display: flex;
    justify-content: center !important;
    font-size: 14px;
    text-align: center;
  }

  .nav-link {
    font-size: 14px;
  }

  /* HERO */
  h3 {
    border: none;
  }

  .hero-section {
    padding: 70px 10px;
  }
  .hero-headings {
    text-align: center;
    padding-bottom: 20px;
  }
  .img-container {
    padding: 0;
  }
  .hero-img {
    border: none;
  }

  /* ABOUT*/
  p {
    text-align: center;
    font-size: 16px;
  }
  h2 {
    font-size: 26px;
    margin: 40px 0;
  }

  .about-col-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 10px;
    padding-top: 20px;
  }
  .about-col-2 {
    padding-top: 0;
  }
  .first-paragraph {
    padding-top: 0;
  }
  .about-me-img {
    display: none;
  }
}

/*SMALL DEVICES*/

@media (max-width: 480px) {
  h1 {
    font-size: 42px;
    line-height: 45px;
  }

  h2,
  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 16px;
  }

  .hero-section {
    padding: 40px 10px;
  }
}

/*XS DEVICES*/

@media (max-width: 320px) {
  .about-col-1 {
    justify-content: left;
    padding-bottom: 0;
  }
  h2 {
    text-align: left;
  }

  p {
    text-align: left;
    font-size: 14px;
  }
}
